
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section class="page-content">
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

