@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>

<h3>Начинающий C# разработчик.</h3>

<p>В последние годы проходил обучение без возможности работать и проходил службу в армии. За время прохождения службы, зарегистрировал две программы для ЭВМ.</p>

<p>
    Разрабатывать web - сайты начал с изучения js, html и css в рамках курсовых работ к ВВУЗе. В работе использовались такие технологии как Hibernate, mySQL, jQuery, AJAX, JSF.
    Далее в совместном проекте использовали С# и ASP.NET.
</p>
<p>
    Примеры кода можно посмотреть тут: <a href="https://github.com/AlexandrPlas">GitHub</a>
</p>
<p>
    На данный момент изучается ASP.NET core framework и ведется работа над этим сайтом.
</p>