@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Плешкевич Александр<br />
    <abbr title="Phone">Т:</abbr>
    913-702-59-13
</address>

<address>
    <strong>Email:</strong> plas42a@gmail.com<br />
    <strong>GitHub:</strong> <a href="https://github.com/AlexandrPlas/GeekStore">github.com</a>
</address>
