@{
    ViewData["Title"] = "Главная";
}

<h2>Магазин настольных игр - GeekStore</h2>

<h3>
    Сайт интернет - магазина разработан в целях обучения технологии разработки веб-сайтов используя <b>ASP.NET Core MVC</b>.
    В текущей версии сайта были реализваны:
</h3>
<h4>
    <ul>
        <li>- Разработана база данных интернет-магазина на MS SQL.</li>
        <li>- Для создания базы использованы методика CodeFirst и Entity Framework.</li>
        <li>- На странице каталога реализовани фильтры, сортировки и поиск по имени.</li>
        <li>- Аутентификация пользователей использует встроенную систуму ASP.NET Identity.</li>
        <li>- Стили CSS применены к мастер-странице и странице каталогу (Стиль взят с <a href="http://bayguzin.ru"> bayguzin.ru</a>).</li>
    </ul>
</h4>